<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'CSS/index.css') }}">
      <style>
        .centered{
        text-align:center;
    </style>
</head>
<body>
    <div class="centered">
        <img src="{{ user_image }}" alt="Logo"  height="100" width="100">
    </div>
    <div class="centered">
    <form method="POST">
            <div class="break">
                <button type="submit" name="add_user" value="add_user" class="btn btn-2">Add User</button>
                <button type="submit" name="delete_user" value="delete_user" class="btn btn-2">Delete User</button>
            </div>
            <div class="break">
                <button type="submit" name="show_user" value="show_user" class="btn btn-2">Show User</button>
                <button type="submit" name="update_user" value="update_user" class="btn btn-2">Update User</button>
            </div>
    </form>
    </div>

</body>
</html>