<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Deletion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'CSS/index.css') }}">
    <style>
        .centered{
        text-align:center;
        }
    </style>
</head>
<body>
    <div class="centered">
        <img src="{{ user_image }}" alt="Logo"  height="100" width="100">
    </div>
    <div class="centered">
        <a href="{{url_for('main')}}"><button>Back to Homepage</button></a>
    </div>
</body>
</html>