<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Event</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'CSS/index.css') }}">
    <style>
        .centered{
        text-align:center;
        }
    </style>
</head>
<body>
    <div class="centered">
        <img src="{{ user_image }}" alt="Logo"  height="100" width="100">
    </div>
    <div class="centered">
      <form method="post">
        <label><b>Date of the Event</b></label>
        <input placeholder="Enter the Date" type="date" name="date"/>
        <br/><br/>
        <button type="submit">Submit</button>
      </form>
    </div>

</body>
</html>